
@{
    ViewBag.Title = "Index";
}

<h2>Maps</h2>

<img src="@Url.Content("~/api/PrettyPicture/Draw?minLon=-180&maxLon=-60&minLat=35&maxLat=55&maxImgWidth=800&maxImgHeight=600")" style="border: solid 1px #000;"/>